<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ask Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/askquestion.css" />

    
</head>
<body>
        <div class="navbar">
                <a class="active" href="index.html">StackOverFlow-lite</a>
                <input name="query" type="text" placeholder="Search…" value="" autocomplete="off" maxlength="240">
                <table align="right">
                        <tbody>
                            
                            <tr>
                                <td >
                                        <a href="../template/askquestion.html">Ask Question</label></a>
                                                
                                </td>
                                
                                <td>
                                    <a href="../template/stackhome.html">Home</a>
                                </td>
                                <td >
                                        <button><label class="ButtonConfirm" id="askquestionbutton" for= "Ask Question">Sign Out</label></button>
                                                
                                </td>

                            </tr>
                            
                         </tbody>   
                    </table>

        </div>
        
<div class= "container">
                <P align="center"><strong>Ask Question</strong></P>
        
            <div class="card" align="center">
                <input type="text" name="Tittle" placeholder="Tittle" required><br>
                <input type="text" id="questionbody"name="body" placeholder="body" required><br>
                <input type="text" name="tag" placeholder="tag" required><br>

                <input type="submit" value="Post Your Answer"></div>
                
        
        
</div>

</body>
</html>