<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>stack over flow home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../css/stackhome.css" />

</head>

<body>
        <div class="navbar">
                <a class="active" href="index.html">StackOverFlow-lite</a>
                <input name="query" type="text" placeholder="Search…" value="" autocomplete="off" maxlength="240">

                <table align="right">
                        <tbody>

                                <tr>
                                        <td>
                                                <a href="../template/askquestion.html"><label class="ButtonConfirm" id="askquestionbutton"
                                                                for="Ask Question">Ask Question</label></a>

                                        </td>

                                        <td>
                                                <a href="../template/stackhome.html">Home</a>
                                        </td>
                                        <td>
                                                <a><label class="about" id="about" for="about">About</label></a>

                                        </td>

                                        <td>
                                                <button><label class="signout" id="sign out" for="sign out">Sign Out</label></button>

                                        </td>


                                </tr>

                        </tbody>
                </table>

        </div>

        <div class="container">

                <P><strong>Latest Questions </strong></P>
                <div class="media">
                        <div class="card">
                                <div class="container1">

                                        <a href="../template/answercomments.html">

                                                <h4><strong> How does a Python module differ from a python package?</strong></h4>
                                        </a>



                                        <p>Asked by <b><a class="person" href="">sharifah Abdulkareem, telecommunications engineer
                                                </a></b> at <b>2:30 pm</b></p>
                                        <p><br><p>Whenever I do from 'x' import 'y' I was wondering which one is considered
                                                        the <br>'module' and which is the 'package', and why it isn't the
                                                        other way around?
                                                        <p/><br>
                                                        <label class ="tags"><b>Tags</b></label>
                                                </p>

                                                <table class="follow">
                                                        <tbody id="briefinsight">
                                                                <tr>
                                                                        <td><a href="">Python</a></td>
                                                                        <td><a href=""> PEP8</a></td>
                                                                        <td><a href="">HTML</a></td>

                                                                </tr>
                                                        </tbody>

                                                </table>



                                </div>
                        </div>


                        <div class="card">
                                <div class="container1">
                                        <a href="">
                                                <h4><strong>How does one become a right world class developer</strong></h4>
                                        </a>
                                        <p>Asked by <a class="person" href=""><b>Matovu Faizal, software engineer</b></a> <b>at 2:30pm</b>
                                        </p>
                                        <p>Can some one explain to me in detail what it takes to be the right developer<br>
                                                <label class="tags"><b>Tags</b></label>
                                        </p>
                                        <table class="follow">
                                                <tbody id="briefinsight">
                                                        <tr>
                                                                <td><a href="">computing</a></td>
                                                                <td><a href=""> Andela</a></td>
                                                                <td><a href="">coding</a></td>

                                                        </tr>
                                                </tbody>

                                        </table>
                                </div>
                        </div>
                        <br>
                        <div class="card">
                                <div class="container1">
                                        <a href="">
                                                <h4><strong>How do you keep track of different versions of your code?</strong></h4>
                                        </a>
                                        <p>Asked by <a class="person" href=""><b>Ashraf khan, student at code camp</b></a> at <b>2:30
                                                pm</b>
                                        </p>
                                        <p>Hey, some one explain to me how to keep track of the different versions of my
                                                code
                                                <br>
                                                <label class="tags"><b>Tags</b></label>
                                        </p>
                                        <table class="follow">
                                                <tbody id="briefinsight">
                                                        <tr>
                                                                <td><a href="">Python</a></td>
                                                                <td><a href=""> PEP8</a></td>
                                                                <td><a href="">HTML</a></td>

                                                        </tr>
                                                </tbody>

                                        </table>


                                </div>
                        </div>

                        <br>
                        <div class="card">
                                <div class="container1">
                                        <a href="">
                                                <h4><strong> How does a Python module differ from a python package?</strong></h4>
                                        </a>
                                        <p>Asked by <a class="person" href=""><b>sharifah Abdulkareem, telecommunications engineer</b></a>
                                                at <b>2:30 pm</b></p>
                                        <p><br><p>Whenever I do from 'x' import 'y' I was wondering which one is considered
                                                        the <br>'module' and which is the 'package', and why it isn't the
                                                        other way around?
                                                        <p/><br>
                                                        <label class="tags"><b>Tags</b></label>
                                                </p>
                                                <table class="follow">
                                                        <tbody id="briefinsight">
                                                                <tr>
                                                                        <td><a href="">Python</a></td>
                                                                        <td><a href=""> PEP8</a></td>
                                                                        <td><a href="">HTML</a></td>

                                                                </tr>
                                                        </tbody>

                                                </table>


                                </div>
                        </div>



                </div>


        </div>
</body>

</html>