<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>stack over flow home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/stackhome.css" />
    
</head>
<body>
        <div class="navbar">
                <a class="active" href="index.html">StackOverFlow-lite</a>
                <input name="query" type="text" placeholder="Search…" value="" autocomplete="off" maxlength="240">
                
                <table align="right">
                                <tbody>
                                    
                                    <tr>
                                        <td >
                                                <a href="../template/askquestion.html"><label class="ButtonConfirm" id="askquestionbutton" for= "Ask Question">Ask Question</label></a>
                                                        
                                        </td>
                                        
                                        <td>
                                            <a href="../template/stackhome.html">Home</a>
                                        </td>
                                        <td >
                                                        <a><label class="about" id="about" for= "about">About</label></a>
                                                                                
                                                </td>
                                        
                                        <td >
                                                <button><label class="signout" id="sign out" for= "sign out">Sign Out</label></button>
                                                                
                                        </td>
                                           
                        
                                    </tr>
                                    
                                 </tbody>   
                            </table>
        
        </div>
        
        <div class="container">
        
                        <P><strong>Latest Questions & Answers</strong></P>
                <div class="media">
                                <div class="card">
                                                <div class="container1">
                                                <a href = "../template/answercomments.html">
                                                        <h4><strong> How does a Python module differ from a python package?</strong></h4>
                                                </a>
                                                        <p>Asked by <a class="person" href = "">sharifah Abdulkareem, telecommunications engineer</a> at 2:30 pm</p>
                                                        <p><br><p>Whenever I do from 'x' import 'y' I was wondering which one is considered the <br>'module' and which is the 'package', and why it isn't the other way around?<p/><br>
                                                        <a href="">Read more</a>
                                                        </p>
                                                        <table class="follow">
                                                                        <tbody id="briefinsight">
                                                                             <tr>
                                                                                <td><a href="">15 Follows</a></td>
                                                                                <td><a href=""> 20Views</a></td>
                                                                                <td><a href="">10comments & Answers</a></td>
                                                                                                
                                                                             </tr>   
                                                                        </tbody>
                                                                        
                                                                </table>
                                                        <ul id ="comment give answer2">
                                                                <li class="comment"><a href="../template/answercomments.html">Comment</a></li>
                                                                <li class="Give Your Answer"><a href="../template/answercomments.html">Give your Answer</a></li>
                                                        </ul>
                                                        
                                                    
                                                </div>
                                </div>
                               
                                
                        <div class="card">
                                <div class="container1">
                                <a href = "">
                                        <h4><strong>How does one become a  right world class developer</strong></h4>
                                </a>
                                        <p>Asked by <a class="person" href="">Matovu Faizal, software engineer</a> at 2:30 pm</p>
                                        <p>Can some one explain to me in detail  what it takes to be the right developer<br>
                                        <a href="">Read more</a>
                                        </p>
                                        <table class="follow">
                                                <tbody id="briefinsight">
                                                     <tr>
                                                        <td><a href="">50 Follows</a></td>
                                                        <td><a href="">100 Views</a></td>
                                                        <td><a href="">18 comments & Answers</a></td>
                                                                        
                                                     </tr>   
                                                </tbody>
                                                
                                        </table>
                                        
                                        <ul id ="comment give answer">
                                        <li class="comment"><a href="">Comment</a></li>
                                        <li class="Give Your Answer"><a href="">Give your Answer</a></li>
                                        </ul>
                                        
                                    
                                </div>
                        </div>
                        <br>
                        <div class="card">
                                        <div class="container1">
                                        <a href = "">
                                                <h4><strong>How do you keep track of different versions of your code?</strong></h4>
                                        </a>
                                                <p>Asked by <a class="person" href= "">Ashraf khan, student at code camp</a> at 2:30 pm</p>
                                                <p>Hey, some one explain to me how to keep track of the different versions of my code<br>
                                                <a href="">Read more</a>
                                                </p>
                                                <table class="follow">
                                                                <tbody id="briefinsight">
                                                                     <tr>
                                                                        <td><a href="">22 Follows</a></td>
                                                                        <td><a href=""> 20Views</a></td>
                                                                        <td><a href="">14 comments & Answers</a></td>
                                                                                        
                                                                     </tr>   
                                                                </tbody>
                                                                
                                                        </table>
                                                <ul id ="comment give answer1">
                                                        <li class="comment"><a href="">Comment</a></li>
                                                        <li class="Give Your Answer"><a href="">Give your Answer</a></li>
                                                </ul>
                                                
                                            
                                        </div>
                        </div>
                       
                        <br>
                        <div class="card">
                                        <div class="container1">
                                        <a href = "">
                                                <h4><strong> How does a Python module differ from a python package?</strong></h4>
                                        </a>
                                                <p>Asked by <a class="person" href = "">sharifah Abdulkareem, telecommunications engineer</a> at 2:30 pm</p>
                                                <p><br><p>Whenever I do from 'x' import 'y' I was wondering which one is considered the <br>'module' and which is the 'package', and why it isn't the other way around?<p/><br>
                                                <a href="">Read more</a>
                                                </p>
                                                <table>
                                                                <tbody id="briefinsight">
                                                                     <tr class="followsview">
                                                                        <td><a href="">15 Follows</a></td>
                                                                        <td><a href=""> 20Views</a></td>
                                                                        <td><a href="">10comments & Answers</a></td>
                                                                                        
                                                                     </tr>   
                                                                </tbody>
                                                                
                                                        </table>
                                                <ul id ="comment give answer2">
                                                        <li class="comment"><a href="../template/answercomments.html">Comment</a></li>
                                                        <li class="Give Your Answer"><a href="../template/answercomments.html">Give your Answer</a></li>
                                                </ul>
                                                
                                            
                                        </div>
                        </div>
                       
                        
                    
                </div>
                
        
    </div>
</body>
</html>