<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="UI/css/stackhome.css" />
    
</head>
<body>
        <div class="navigation">
                <a class="active" href="index.html">StackOverFlow-lite</a>
                <input name="query" type="text" placeholder="Search…" value="" autocomplete="off" maxlength="240">
        </div>

        <div class="row">
                <a class="home" href="UI/template/stackhome.html">Home</a>
                <P><strong>Questions & Answers</strong></P>
                <input name="query" type="text" placeholder="Ask Question"  >        
        </div>
        <div class="card">
                <div class="media">
                                <div class="mediarow">
                                                <div class="rowquestion"></div>
                                                <div class="card-body1"></div>
                                                <div class="card-body2"></div>
                                </div>
                                <div class="mediarow">
                                                <div class="rowquestion"></div>
                                                <div class="card-body1"></div>
                                                <div class="card-body2"></div>
                                </div>
                                <div class="mediarow">
                                                <div class="rowquestion"></div>
                                                <div class="card-body1"></div>
                                                <div class="card-body2"></div>
                                </div>
                </div>
                
        </div>
    
</body>
</html>