.navbar {
    background-color: rgb(69, 34, 165);
    overflow: hidden;
    border-radius: 20px;
    height:50px;

}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    
}
a {
    text-decoration: none !important;
}
button {
    background-color: rgb(69, 34, 165);;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.navbar a.intro {
    background-color: rgb(152, 156, 221);
    color: white;
}
.container{
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    padding: 25px;
    width: 800px;
    position: absolute;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: hidden;
    top: 15%;
}

input[type=submit] {
    background-color:rgb(99, 104, 170);
    color: white;
    cursor: pointer;

  }
  
  input[type=submit]:hover {
    background-color:rgb(99, 104, 170);
   
  }
  input {
    background-color:lightgrey;  
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none; 
  }
  .card{
      padding:20px;
      background-color: rgb(69, 34, 165);
      margin :10px;
      border-radius:8px;
      
   
  }
  #questionbody{
    line-height:100px;
    width:600px

}
ul {
    
            color: white;
            padding: 14px 25px;
            text-align: center; 
            text-decoration: none;
            display: inline-block;
}
#tittle{
    width:600px;
}
